img {
    width:250px;
    height:150px;
}
/*Pageview for desktops*/
@media (min-width: 992px) {
    .gallery {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
    .text-box {
        text-align: left;
    }
}
    .box {
        padding:3px;
    }
}
/*Pageview for tablets*/
@media (max-width: 991px) {
        .gallery {
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                text-align: center;
        }}
/*Pageview for smartphones*/
@media (max-width: 767px) {
        .gallery {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                text-align: center;
        }}