/*Pageview for desktops*/
@media (min-width: 999px) {
        .gallery {
                width: 60%;
                margin-left: 20%;
                margin-rigth: 20%;
                text-align: center;
        }}
/*Pageview for tablets*/
@media (max-width: 991px) {
        .gallery {
                width: 80%;
                margin-left: 10%;
                margin-rigth: 10%;
                text-align: center;
        }}
/*Pageview for smartphones*/
@media (max-width: 767px) {
        .gallery {
                width: 90%;
                margin-left: 5%;
                margin-rigth: 5%;
                text-align: center;
        }}
